<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../styles/authentication.css">
</head>
<body>
    <div class="window">
        <form action="/auth/reg" method="post" class="authentication">
            <div class="authentication__title">
                <h1>Authentication</h1>
                <ul>
                    <% if(typeof errors != 'undefined') { %>
                    <%   errors.forEach(error => { %>
                        <li><%= error.message %></li>
                    <% })} %>
                </ul>
            </div>
            <div class="authentication__regBlock">
                <div class="authentication__block block-1">
                    <!-- <label>Enter your NickName: </label> -->
                    <input type="text" placeholder="NickName" 
                    class="inputName" name="name" required>
                </div>
                <div class="authentication__block block-2">
                    <!-- <label>Enter your Email: </label> -->
                    <input type="email" placeholder="Mail" 
                    class="inputEmail" name="mail" required>    
                </div>
                <div class="authentication__block block-3">
                    <!-- <label>Enter your password: </label> -->
                    <input type="password" placeholder="Password" 
                    class="inputPsw" name="password" required>
                </div>
            </div>
            <div class="authentication__helpBlock">
                <a href="/">Help</a>
                <a href="/">Supprot</a>
            </div>
            <div class="authentication__end">
                <h1 class="authentication__end__title">
                    <button type="submit">
                        Continue
                    </button>
                </h1>
            </div>
        </form>
    </div>
</body>
</html>