<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../styles/authentication.css">
</head>
<body>
    <div class="window">
        <div class="authentication">
            <h1 class="authentication__title">Authentication</h1>
            <div class="authentication__regBlock">
                <div class="authentication__block block-1">
                    <!-- <label>Enter your NickNme: </label> -->
                    <input type="text" placeholder="NickName" 
                    class="inputName">
                </div>
                <div class="authentication__block block-2">
                    <!-- <label>Enter your Email: </label> -->
                    <input type="text" placeholder="Mail" 
                    class="inputEmail">    
                </div>
                <div class="authentication__block block-3">
                    <!-- <label>Enter your password: </label> -->
                    <input type="password" placeholder="Password" 
                    class="inputPsw" >
                </div>
            </div>
            <div class="authentication__helpBlock">
                <a href="#">Help</a>
                <a href="#">Supprot</a>
            </div>
            <div class="authentication__end">
                <h1 class="authentication__end__title">
                    <a href="#">Continue</a>
                </h1>
            </div>
        </div>
    </div>
</body>
</html>