<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main window of this website</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">

</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">Gym</div>
            <nav class="header__nav" id>
                <a href="profile" class="header_link link">Profile</a>
                <a href="#" class="header_link link">About</a>
                <a href="SignIn" class="header_link link">Sign In</a>
                <a href="/Authentication" class="header_link link">Sign up</a>
            </nav>
            <div class="header__menu">
                <a href="#" class="open__Menu">
                    <img src="../icons/bar.png" alt="Burger" 
                    width="30" height="35" > 
                </a>
                <a href="#" class="close__Menu">
                    <img src="../icons/close.png" alt="Close"
                    width="25", height="25">
                </a>
                <ul class="menu__list">
                    <a href="profile" class="burgerSubmenu link">Profile</a>
                    <a href="#" class="burgerSubmenu link">About</a>
                    <a href="/SignIn" class="burgerSubmenu link">Sign in</a>
                    <a href="/Authentication" class="burgerSubmenu link">Sign up</a>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__container">
            <div class="first">
                <img src="../images/gym.png" class="first__smartMainImage"
                width="100" height="100">
                <div class="first__text">
                    <h1>Welocme to our website, my dear friend</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi reiciendis incidunt repudiandae corporis explicabo, error eos praesentium deserunt fugit voluptatibus?
                        <!-- We're so glad, what you choose our services and -->
                        we give all of our effort to make your live better
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos cupiditate libero necessitatibus placeat ducimus delectus magnam voluptate unde accusantium minima!
                    </p>
                </div>
            </div>
            <div class="flashCards">
                <div class="flashCards__item">
                    <h1 class="flashCards__item__title">Our messenger Lorem ipsum dolor sit. Lorem ipsum dolor sit.</h1>
                    <p class="flashCards__item__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt blanditiis atque mollitia fugiat aut corrupti veniam repellendus impedit itaque aliquid.</p>
                </div>
                <div class="flashCards__item">
                    <h1 class="flashCards__item__title">Our messenger</h1>
                    <p class="flashCards__item__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt blanditiis atque mollitia .</p>
                </div>
                <div class="flashCards__item">
                    <h1 class="flashCards__item__title">Our messenger</h1>
                    <p class="flashCards__item__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt blanditiis atque mollitia fugiat aut corrupti veniam </p>
                </div>
                <div class="flashCards__item">
                    <h1 class="flashCards__item__title">Our messenger</h1>
                    <p class="flashCards__item__subtitle">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt blanditiis atque mollitia 
                        fugiat aut corrupti veniam repellendus impedit itaque aliquid.
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="second">
                <div class="die">
                    <h1 class="die__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, veritatis?</h1>
                    <p class="die__description">
                        Lorem ipsum dolor, 
                        sit amet consectetur adipisicing elit. Labore unde, 
                        ea animi, perspiciatis qui nemo laborum, magnam suscipit 
                        impedit optio fugit ad magni adipisci perferendis commodi 
                        architecto aperiam praesentium quod.
                    </p>
                    <div class="die__buttonsContainer">
                        <a class="button die__button first-die-btn" href="#">Learn more</a>
                        <a class="button die__button second-die-btn" href="#">Our Contacts</a>
                    </div>
                    <img class="die__picture" 
                    src="../images/weightlifting.png" alt=""
                    >
                </div>
            </div>
            <div class="third">
                <div class="switcher">
                    <div class="switcher__case case-0">
                        <img src="../images/Screen Shot 2022-05-09 at 10.28Somebody-1.svg" alt="face" class="switcher__image">
                        <p class="switcher__description">Pizdec ipsum dolor sit amet consectetur adipisicing elit. A, neque aliquid laudantium harum mollitia modi sint cumque maiores quia deserunt ullam officiis vero maxime tempora adipisci suscipit laboriosam magnam. Consequuntur?</p>
                        <h2 class="switcher__autor"><span>-</span>Romile</h2>
                   </div>                    
                    <div class="switcher__case case-1">
                        <img src="../images/Screen Shot 2022-05-09 at 10.28Somebody-2.svg" alt="face" class="switcher__image">
                        <p class="switcher__description">Xyu ipsum dolor sit amet consectetur adipisicing elit. A, neque aliquid laudantium harum mollitia modi sint cumque maiores quia deserunt ullam officiis vero maxime tempora adipisci suscipit laboriosam magnam. Consequuntur?</p>
                        <h2 class="switcher__autor"><span>-</span>Jane</h2>
                    </div>                    
                    <div class="switcher__case case-2">
                        <img src="../images/Screen Shot 2022-05-09 at 10.28Somebody.svg" alt="face" class="switcher__image">
                        <p class="switcher__description">Live ipsum dolor sit amet consectetur adipisicing elit. A, neque aliquid laudantium harum mollitia modi sint cumque maiores quia deserunt ullam officiis vero maxime tempora adipisci suscipit laboriosam magnam. Consequuntur?</p>
                        <h2 class="switcher__autor"><span>-</span>Jasica</h2>
                    </div>
                    <div class="switcher__next switcher__button">&gt;</div>
                    <div class="switcher__back switcher__button">&lt;</div>

                </div>
            </div>
            <div class="fourth">
                <div class="benefits">
                    <div class="benefits__main">
                        <h3 class="benefits__main__title">
                            Lorem ipsum dolor sit 
                            amet consectetur adipisicing elit. Non laudantium 
                            molestiae debitis soluta eveniet eum, 
                            nisi quas maxime iusto dolorem.
                        </h3>
                        <p class="benefits__main__description">
                            Lorem, ipsum 
                            dolor sit amet consectetur adipisicing elit. Nam 
                            pariatur accusamus nihil quisquam id magnam, est 
                            laudantium quia? Ullam nihil minima itaque, animi 
                            inventore veritatis, nisi minus praesentium repudiandae 
                            eaque ea, molestias quis deserunt doloremque cum quos 
                            sapiente architecto dolore. Cumque neque voluptas veritatis 
                            vel quis mollitia animi totam iusto?
                        </p>
                    </div>
                    <div class="benefits__extra extra-first">
                        <h3 class="benefits__extra__title">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Possimus sunt molestiae doloribus!</h3>
                        <p class="benefits__extra__description">
                            pariatur accusamus nihil quisquam id magnam, est 
                            laudantium quia? Ullam nihil minima itaque, animi 
                            inventore veritatis, nisi minus praesentium repudiandae 
                            eaque ea, molestias quis deserunt doloremque cum quos 
                            sapiente architecto dolore. Cumque neque voluptas veritatis 
                            vel quis mollitia animi totam iusto?
                        </p>
                    </div>
                    <div class="benefits__extra extra-second">
                        <h3 class="benefits__extra__title">
                            Lorem ipsum dolor sit amet, 
                            consectetur adipisicing elit. Labore 
                            tenetur ea delectus unde quisquam.
                        </h3>
                        <p class="benefits__extra__description">
                            pariatur accusamus nihil quisquam id magnam, est 
                            laudantium quia? Ullam nihil minima itaque, animi 
                            inventore veritatis, nisi minus praesentium repudiandae 
                            eaque ea, molestias quis deserunt doloremque cum quos 
                            sapiente architecto dolore. Cumque neque voluptas veritatis 
                            vel quis mollitia animi totam iusto?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <h1 class="footer__content__logo">Gym</h1>
            <p class="footer__content_description">copyright by 2023</p>
            <ul class="footer__content__links">
                <li class="footer__content__links footer-item">
                    <a href="#"><img src="../icons/instagram.png" alt="Instagram"></a>
                </li>
                <li class="footer__content__links footer-item">
                    <a href="#"><img src="../icons/facebook.png" alt="Facebook"></a>
                </li>
                <li class="footer__content__links footer-item">
                    <a href="#"><img src="../icons/telegram.png" alt="Telegram"></a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="../scriptsJS/mainScript.js"></script>
</body>
</html>