<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="../styles/profile.css">
</head>
<body>
    <div class="window">
        <div class="about">
            <div class="about__block">
                <label>NickName :</label>
                <h1>
                    <%= userName.charAt(0).toUpperCase() + userName.slice(1) %>
                </h1>
            </div>
            <div class="about__block">
                <label>Mail :</label>
                <h1>
                    <%= userMail %>
                </h1>
            </div>
            <div class="about__block">
                <label>Password :</label>
                <h1>
                    EMPTY
                </h1>
            </div>
            <button class="about__button">
                <a href="/auth/logout">LogOut</a>
                <a href="/">Back</a>
            </button>
        </div>
    </div>
</body>
</html>