<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="../public/styles/profile.css">
</head>
<body>
    <div class="window">
        <div class="about">
            <div class="about__block">
                <label>NickName :</label>
                <h1>empty</h1>
            </div>
            <div class="about__block">
                <label>Mailn :</label>
                <h1>empty</h1>
            </div>
            <div class="about__block">
                <label>Password :</label>
                <h1>empty</h1>
            </div>
        </div>
    </div>
</body>
</html>