<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="../styles/profile.css">
</head>
<body>
    <div class="window">
        <div class="about">
            <div class="about__block">
                <label class="about__block__point">NickName  -</label>
                <p class="about__block__title">Alex</p>
            </div>
            <div class="about__block">
                <label class="about__block__point">Mail  -</label>
                <p class="about__block__title">prank@mail.ru</p>
            </div>
            <div class="about__block">
                <label class="about__block__point">Password  -</label>
                <p class="about__block__title">01234567890</p>
            </div>
        </div>
    </div>
</body> 
</html>