<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/signIn.css">
</head>
<body>
    <div class="window">
        <div class="signIn">
            <h1>Sign IN</h1>
            <div class="signIn__container-input">
                <div class="signIn__input">
                    <input type="text" placeholder="Mail">
                </div>
                <div class="signIn__input">
                    <input type="text" placeholder="Password">
                </div>
            </div>
            <div class="signIn__interact">
                <div class="signIn__help">
                    <a href="/authentication">Register Account</a>
                    <a href="/">Help</a>
                </div>
                <div class="signIn__continue">
                    <a href="">Continue</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>