@import url("//fonts.googleapis.com/css?family=Outfit:300,400,600,700&amp;lang=en");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit";
}

a {
  text-decoration: none;
}

::-ms-clear {
  display: none;
}

ul {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}
ul li {
  justify-self: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: red;
}

* {
  margin: 0px;
  padding: 0px;
  background: rgb(236, 236, 236);
}

.window {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication {
  width: 400px;
  height: 500px;
  display: grid;
  grid-template: 50px 350px 100px/1fr 1fr;
  align-items: center;
  justify-items: center;
}
.authentication__regBlock {
  width: 100%;
  height: 100%;
  grid-column: span 2;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr;
}
.authentication__title {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr minmax(0px, 20px)/1fr;
  justify-items: center;
  grid-column: span 2;
}
.authentication__title h1 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(75, 75, 75);
}
.authentication__block {
  grid-column: span 2;
  display: grid;
  grid-template: 1fr minmax(0px, 30px)/1fr;
}
.authentication__block input {
  padding: 20px 30px;
  color: rgb(29, 131, 195);
  border: 1px solid rgb(75, 75, 75);
  border-radius: 7px;
  outline: none;
}
.authentication__block input::-moz-placeholder {
  color: rgb(29, 131, 195);
}
.authentication__block input::placeholder {
  color: rgb(29, 131, 195);
}
.authentication__helpBlock {
  width: 100%;
  height: 100%;
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template: 1fr 1fr/1fr;
  justify-items: center;
}
.authentication__helpBlock a {
  color: rgb(75, 75, 75);
  transition: 0.4s ease;
  padding: 10px 20px;
  align-self: start;
  border-radius: 5px;
}
.authentication__helpBlock a:hover {
  box-shadow: 0px 0px 5px 1px rgba(29, 131, 195, 0.3);
}
.authentication__end {
  grid-row: 3;
  grid-column: 2;
}
.authentication__end__title button {
  outline: none;
  border: none;
  font-size: 24px;
  color: rgb(75, 75, 75);
  padding: 20px;
  border-radius: 5px;
  transition: 0.4s ease;
}
.authentication__end__title button:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(29, 131, 195, 0.3);
}

.block-1 {
  grid-row: 1;
}

.block-2 {
  grid-row: 2;
}

.block-3 {
  grid-row: 3;
}

@media (max-height: 500px) {
  .authentication {
    height: 400px;
    grid-template: 50px 1fr 50px;
  }
}