@import url("//fonts.googleapis.com/css?family=Outfit:300,400,600,700&amp;lang=en");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit";
}

li {
  justify-self: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  color: red;
}

a {
  text-decoration: none;
}

::-ms-clear {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  background: rgb(236, 236, 236);
}

.window {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template: 100px 1fr 100px/1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.signIn__title {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template: 1fr minmax(0px, 30px)/1fr;
}
.signIn__title .message {
  color: rgb(29, 131, 195);
  font-size: 18px;
  font-weight: 500;
}
.signIn__container-input {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr/1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.signIn__input input {
  padding: 20px 30px;
  outline: none;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  font-size: 16px;
  color: rgb(29, 131, 195);
}
.signIn__input input::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 131, 195);
}
.signIn__input input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgb(29, 131, 195);
}
.signIn__interact {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.signIn__help {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr/1fr;
  justify-content: center;
  align-items: center;
  grid-row-gap: 10px;
  justify-items: center;
}
.signIn__help a {
  padding: 10px 30px;
  border-radius: 5px;
  color: rgb(75, 75, 75);
  transition: 0.2s ease;
  text-align: center;
}
.signIn__help a:hover {
  box-shadow: inset 0px 0px 5px 2px rgba(29, 131, 195, 0.5);
}
.signIn__continue {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signIn__continue .button {
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: rgb(75, 75, 75);
  transition: 0.2s ease-in;
  text-align: center;
}
.signIn__continue .button:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(29, 131, 195, 0.5);
}