@import url("//fonts.googleapis.com/css?family=Outfit:300,400,600,700&amp;lang=en");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "outfit";
}

a{
    text-decoration: none;
}

::-ms-clear{
    display: none;
}
