$main-text-color: rgb(29, 131, 195);
$main-back-color: rgb(236, 236, 236);
$card-back-color: rgb(59, 222, 135);
$header-dropMenu-back-color: #1c1c1c;
$second-text-color: rgb(214, 214, 214);
$back-buttons-color: rgb(75, 75, 75);
$font-button-color: rgb(235, 235, 235);