@import "reset";
@import "vars";

*{
    margin: 0px;
    padding: 0px;
    background: $main-back-color;
}
.window{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authentication{
    width: 400px;
    height: 500px;
    display: grid;
    grid-template: 50px 1fr 100px / 1fr 1fr;
    align-items: center;
    justify-items: center;
    &__regBlock{
        width: 100%;
        height: 100%;
        grid-column: span 2;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }
    &__title{
        font-size: 28px;
        font-weight: 700;
        grid-column: span 2;
        color: $back-buttons-color;
    }
    &__block{
        grid-column: span 2;
        input{
            padding: 20px 30px; 
            color: $main-text-color;
            border: 1px solid $back-buttons-color;
            border-radius:7px;
            outline: none;
        }
        input::placeholder{
            color: $main-text-color;
        }
    }
    &__helpBlock{
        width: 100%;
        height: 100%;
        grid-row: 3;
        grid-column: 1;
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        justify-items: center;
        a{
            color: $back-buttons-color;
            transition: 0.4s ease;
            padding: 10px 20px;
            align-self: start;
            border-radius: 5px;
        }
        a:hover{
            box-shadow: 0px 0px 5px 1px rgb($main-text-color, 0.3);
        }   
    }
    &__end{
        grid-row: 3;
        grid-column: 2;
        &__title{
            button{
                outline: none;
                border: none;
                font-size: 24px;
                color: $back-buttons-color;
                padding: 20px;
                border-radius: 5px;
                transition: 0.4s ease;
            }
            button:hover{
                box-shadow: inset 0px 0px 10px 2px rgba($main-text-color, 0.3);
            }
        }
    }
}
.block-1{
    grid-row: 1;
}
.block-2{
    grid-row: 2;
}
.block-3{
    grid-row: 3;
}

@media (max-height: 500px){
    .authentication{
        height: 400px;
        grid-template: 50px 1fr 50px;
    }
}