@import "reset";
@import "vars";

.Error{
    width: 100%;
    height: 100%;
    padding: 50px;
    &__message{
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
    }
}

@media (max-width: 1080px){
    .Error{
        &__message{
            font-size: 28px;
            line-height: 30px;
        }
    }
}