@import "reset";
@import "vars";

.window{
    background: $main-back-color;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
    width: 400px;
    height: 550px;
    display: grid;
    grid-template: 1fr 1fr 1fr 100px / 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    box-shadow: inset 0px 0px 20px 5px rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
    &__button{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        border: none;
        justify-content: space-between;
        background: none;
        justify-items: center;
        a{
            color: $main-text-color;
            outline: none;
            cursor: pointer;
            border: 2px solid $back-buttons-color;
            border-radius: 10px;
            align-self: center;
            padding: 5px 15px;    
            font-size: 26px;
            font-weight: 600;
        }
    }
    &__block{
        width: 50%;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        label{
            font-size: 16px;
            font-weight: 500;
        }
        h1 {
            font-size: 20px;
            font-weight: 600;
            grid-column: 2;
            grid-row: 1;
        }
    }
}