@import url("//fonts.googleapis.com/css?family=Outfit:300,400,600,700&amp;lang=en");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "outfit";
}

a {
  text-decoration: none;
}

::-ms-clear {
  display: none;
}

.window {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr;
  align-items: center;
  justify-items: center;
}
.about__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 20px;
}
.about__block__point {
  font-weight: 600;
}